@use "./variables.scss" as *;

@mixin title {
  color: $dark;
}

@mixin button {
  display: flex;
  transition: all 0.3s;
  flex-direction: column;
  place-content: center;
  color: white;
  border-radius: 3px;
  background: $pink;
}
