@use "./ui/buttons.scss";
@use "./ui/text.scss";
@use "./ui/inputs.scss";

@import "@/assets/fonts.css";
@import "@/assets/fontello.css";
@import "./mixins.scss";
@import "./variables.scss";

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

html {
  font-family: "Proxima Nova", sans-serif;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}
$pink: rgba(255, 192, 203, 0.05); // barely visible pink

body {
  background-image: repeating-linear-gradient(
    to right,
    $pink,
    $pink 5px,
    transparent 5px,
    transparent calc(100% / 12)
  );
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: $dark;
}

span {
  color: $dark;
}

button {
  border: none;
  padding: 0;
  background: transparent;
}
.pageNav {
  display: flex;
  gap: 2px;
  justify-content: center;
  font-size: 9px;
  &__curr {
    color: $blue;
  }
}
.container {
  width: 100%;
  padding: 0 10px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .pageNav {
    gap: 5px;
    font-size: 14px;
  }
  .container {
    max-width: 1140px;
  }
  body {
    background-image: none;
    background: transparent;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1440px;
  }
}
