$dark: rgb(41, 41, 41);
$line: 1px solid rgba(0, 0, 0, 0.1);
$gray: rgb(235, 237, 238);
$shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
$pink: rgb(231, 66, 106);
$pink-Light: rgb(255, 77, 109);
$pink-hovered: rgb(244, 93, 130);
$blue: #4e9dd3;
$almond: rgb(247, 235, 229);
