.completedOrders {
  margin-top: 44px;

  &__title {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }

  &__slider {
    margin-top: 30px;
  }

  &__slide {
    border: 1px solid rgb(237, 237, 240);
    border-radius: 5px;
    background: #fff;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 160px;
    &-img {
      width: 124px;
      height: 98px;
      object-fit: cover;
    }

    &-title {
      font-size: 12px;
      font-weight: 600;
      margin-top: 10px;
      text-align: center;
    }
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border-radius: 0%;
    background: white;
    border: 2px solid gray;
    &-active {
      background: $pink;
      border: none;
    }
  }
  &__pagination {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}

@media (min-width: 1200px) {
  .completedOrders {
    margin-top: 65px;

    &__title {
      font-size: 30px;
    }

    &__slider {
      margin-top: 40px;
    }

    &__slide {
      padding: 15px;

      &-img {
        width: 242px;
        height: 192px;
      }

      &-title {
        font-size: 14px;
        margin-top: 22px;
      }
    }
  }
}
