@use "../mixins.scss" as *;
@use "../variables.scss" as *;

.btn {
  @include button;
  width: 201px;
  height: 50px;
  border: 2px solid transparent;
  &:hover {
    border: 2px solid $pink;
    background: transparent;
    color: $pink;
  }
}

.btnHoverBarely {
  @include button;
  width: 254px;
  height: 50px;
  &:hover {
    background: $pink-hovered;
  }
}
.btn-submit {
  @include button;
  width: 189px;
  height: 40px;
  &:hover {
    background: $pink-hovered;
  }
}
.btn-catalog {
  width: 218px;
  min-height: 40px;
  margin: 0 auto;
  border: 2px solid $blue;
  border-radius: 5px;
  display: block;
  align-content: center;
  &:disabled {
    background: $gray;
  }
}
.btn-back {
  @include button;
  width: 168px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  &:hover {
    background: $pink-hovered;
  }
}
.calculate {
  border: 1px solid rgba(41, 41, 41, 0.1);
  border-radius: 3px;
  background: rgb(255, 255, 255);
  &:hover {
    background: rgb(236, 238, 241);
  }
}

.close {
  background: rgb(41, 41, 41);
  opacity: 0.2;

  &:hover {
    opacity: 0.5;
  }
}

.cart {
  color: $dark;
  &:hover {
    color: $pink;
  }
}

@media (min-width: 1200px) {
  .btn-submit {
    width: 254px;
    height: 50px;
  }
  .btn-back {
    width: 234px;
    height: 50px;
  }
  .btn-catalog {
    width: 293px;
    min-height: 52px;
    margin: 25px auto 0 auto;
    border: 2px solid $blue;
    border-radius: 5px;
    display: block;

    &:hover {
      transition: all 0.3s;
      transform: translateY(-8%);
      border: 2px solid $pink;
    }
  }
}
